<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>To Do List</title>
</head>
<body>
    <div class='container'>
        <h1>{{ category.getName }}</h1>

        <h4>Add a task!</h4>

        <form action='/tasks' method='post'>
            <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">
            <label for='description'>Task Description: </label>
            <input id='description' name='description' type='text'>
            <label for='dueDate'>Due Date: </label>
            <input id='dueDate' type='date' name='dueDate'>

            <button class='btn-info' type='submit'>Add task</button>
        </form>

        {% if tasks is not empty %}
            <h3>Here are the tasks:</h3>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.getDescription }} {{ task.getDue }}</li>
                    <!-- <li>{{ task.getDue }}</li> -->
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/delete_tasks' method='post'>
        <button class='btn-danger' type='submit'>DELETE</button>
        </form>

        <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
